@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat/Montserrat-Bold.otf");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat/Montserrat-Light.otf");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
@font-face {
  font-family: 'Montserrat-LightItalic';
  src: url("../fonts/Montserrat/Montserrat-LightItalic.otf");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/Montserrat/Montserrat-Medium.otf");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat/Montserrat-Regular.otf");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.otf");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
body {
  background-color: #fff;
  height: 100%;
  margin: 0; }

.landing-bg {
  border: none;
  border-radius: 0;
  /*    margin-top: 50px; */
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.5)), url(/static/images/landing-bg.jpg);
  background-position: center;
  background-size: cover; }
  @media (min-width: 320px) and (max-width: 767px) {
    .landing-bg {
      min-height: 100vh; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .landing-bg {
      min-height: 110vh; } }
  .landing-bg .landing-atrax {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-family: "Montserrat-Regular";
    letter-spacing: 5px;
    margin-top: 180px;
    font-size: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
    @media (min-width: 320px) and (max-width: 767px) {
      .landing-bg .landing-atrax {
        margin-top: 25px;
        text-align: center;
        font-size: 20px; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .landing-bg .landing-atrax {
        margin-top: 30px;
        text-align: center;
        font-size: 30px; } }
  .landing-bg .landing-tagline {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Montserrat-Regular";
    letter-spacing: 1px;
    font-size: 20px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .landing-bg .landing-tagline {
        margin-top: 10px;
        text-align: center;
        font-size: 15px; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .landing-bg .landing-tagline {
        margin-top: 10px;
        text-align: center;
        font-size: 18px; } }
  .landing-bg .btn-started {
    margin-top: 100px;
    padding: 10px;
    background: #251d0f;
    border: solid 1px rgba(255, 255, 255, 0.4);
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Montserrat-Regular";
    letter-spacing: 2px;
    font-size: 20px; }
    .landing-bg .btn-started:focus {
      outline: none; }
    @media (min-width: 320px) and (max-width: 767px) {
      .landing-bg .btn-started {
        font-size: 12px;
        margin-top: 30px; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .landing-bg .btn-started {
        font-size: 15px;
        margin-top: 50px; } }
  .landing-bg .login-form-container {
    min-height: 400px;
    width: 75%;
    background-color: #f9f9f9;
    padding: 20px;
    margin: 150px auto 0;
    background-color: rgba(41, 32, 16, 0.5);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.4); }
    .landing-bg .login-form-container h3 {
      padding-bottom: 5px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      font-family: "Montserrat-Regular";
      letter-spacing: 2px;
      text-transform: uppercase; }
      @media (min-width: 320px) and (max-width: 767px) {
        .landing-bg .login-form-container h3 {
          font-size: 12px; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .landing-bg .login-form-container h3 {
          font-size: 15px; } }
    .landing-bg .login-form-container input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
      display: block;
      width: 100%;
      margin-top: 10px;
      font-family: "Montserrat-Regular"; }
      .landing-bg .login-form-container input:focus, .landing-bg .login-form-container input:active {
        background-color: transparent;
        outline: none;
        border-bottom: solid 1px #e0e0e0 !important;
        transition: 0.2s;
        font-family: "Montserrat-Regular"; }
        .landing-bg .login-form-container input:focus:focus, .landing-bg .login-form-container input:active:focus {
          outline: none;
          border-bottom: solid 1px #e0e0e0;
          font-family: "Montserrat-Regular"; }
        .landing-bg .login-form-container input:focus:active, .landing-bg .login-form-container input:active:active {
          background-color: transparent; }
      @media (min-width: 320px) and (max-width: 767px) {
        .landing-bg .login-form-container input {
          font-size: 12px; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .landing-bg .login-form-container input {
          font-size: 12px; } }
    .landing-bg .login-form-container label {
      margin-top: 20px;
      font-family: "Montserrat-Regular";
      letter-spacing: 1px; }
      @media (min-width: 320px) and (max-width: 767px) {
        .landing-bg .login-form-container label {
          font-size: 12px; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .landing-bg .login-form-container label {
          font-size: 12px; } }
    .landing-bg .login-form-container button {
      background-color: transparent;
      border: solid 1px #fff;
      text-transform: uppercase;
      float: right;
      width: 35%;
      margin: 30px 0 20px; }
      .landing-bg .login-form-container button:focus, .landing-bg .login-form-container button:active, .landing-bg .login-form-container button:hover {
        background: transparent;
        outline: none;
        border: solid 1px white;
        background-color: #171209; }
        .landing-bg .login-form-container button:focus:active, .landing-bg .login-form-container button:active:active, .landing-bg .login-form-container button:hover:active {
          background: transparent;
          outline: none;
          border: solid 1px white;
          background-color: #171209; }
      @media (min-width: 320px) and (max-width: 767px) {
        .landing-bg .login-form-container button {
          font-size: 12px;
          margin: 10px 0; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .landing-bg .login-form-container button {
          font-size: 12px;
          margin: 20px 10px 0 0;
          width: 20%; } }
    .landing-bg .login-form-container .form-footer {
      margin-top: 100px;
      text-align: center;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      font-family: "Montserrat-Regular";
      letter-spacing: .5px;
      padding-top: 10px;
      font-weight: 500; }
      .landing-bg .login-form-container .form-footer a {
        color: #fff; }
        .landing-bg .login-form-container .form-footer a:hover, .landing-bg .login-form-container .form-footer a:focus {
          border: none;
          outline: none;
          text-decoration-line: none; }
      @media (min-width: 320px) and (max-width: 767px) {
        .landing-bg .login-form-container .form-footer {
          font-size: 12px;
          margin-top: 70px; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .landing-bg .login-form-container .form-footer {
          font-size: 12px; } }
    @media (min-width: 320px) and (max-width: 767px) {
      .landing-bg .login-form-container {
        margin-top: 40px;
        min-height: 250px;
        margin: 30px auto 0; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .landing-bg .login-form-container {
        margin: 50px auto 0;
        width: 80%;
        padding: 20px 25px 0;
        min-height: 370px; } }

.register-bg {
  border: none;
  border-radius: 0;
  /*    margin-top: 50px; */
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.5)), url(/static/images/register-bg.jpg);
  background-position: center;
  background-size: cover; }
  @media (min-width: 320px) and (max-width: 767px) {
    .register-bg {
      min-height: 130vh; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    .register-bg {
      min-height: 120vh; } }
  .register-bg .register-form-container {
    padding: 20px 20px 35px;
    width: 80%;
    margin: 70px auto 20px;
    min-height: 50%;
    background-color: rgba(41, 32, 16, 0.5);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.4); }
    .register-bg .register-form-container h3 {
      margin-bottom: 20px;
      padding-bottom: 5px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      font-family: "Montserrat-Regular";
      letter-spacing: 2px;
      text-transform: uppercase; }
      @media (min-width: 320px) and (max-width: 767px) {
        .register-bg .register-form-container h3 {
          font-size: 15px; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .register-bg .register-form-container h3 {
          font-size: 20px; } }
    .register-bg .register-form-container .row .input-div {
      display: inline-block;
      width: 45%;
      margin: 10px 0 0 28px; }
      .register-bg .register-form-container .row .input-div input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        display: block;
        width: 100%;
        margin-top: 10px;
        border-radius: 0;
        font-family: "Montserrat-Regular"; }
        .register-bg .register-form-container .row .input-div input:focus, .register-bg .register-form-container .row .input-div input:active {
          background-color: transparent;
          outline: none;
          border-bottom: solid 1px #e0e0e0 !important;
          transition: 0.2s;
          font-family: "Montserrat-Regular"; }
          .register-bg .register-form-container .row .input-div input:focus:focus, .register-bg .register-form-container .row .input-div input:active:focus {
            outline: none;
            border-bottom: solid 1px #e0e0e0;
            font-family: "Montserrat-Regular"; }
          .register-bg .register-form-container .row .input-div input:focus:active, .register-bg .register-form-container .row .input-div input:active:active {
            outline: none;
            background-color: transparent; }
      @media (min-width: 320px) and (max-width: 767px) {
        .register-bg .register-form-container .row .input-div {
          font-size: 12px;
          width: 100%;
          margin: 0; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .register-bg .register-form-container .row .input-div {
          font-size: 13px;
          width: 45%;
          margin: 10px 0 0 20px; } }
    .register-bg .register-form-container label {
      margin-top: 15px;
      font-family: "Montserrat-Regular";
      letter-spacing: 1px; }
      @media (min-width: 320px) and (max-width: 767px) {
        .register-bg .register-form-container label {
          font-size: 12px; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .register-bg .register-form-container label {
          font-size: 13px; } }
    .register-bg .register-form-container .btn-reg {
      width: 100%;
      height: 50%;
      display: block; }
      .register-bg .register-form-container .btn-reg button {
        margin-right: 50px;
        margin-bottom: 20px;
        background-color: transparent;
        border: solid 1px #fff;
        text-transform: uppercase;
        float: right;
        width: 20%; }
        .register-bg .register-form-container .btn-reg button:focus, .register-bg .register-form-container .btn-reg button:active, .register-bg .register-form-container .btn-reg button:hover {
          background: transparent;
          outline: none;
          border: solid 1px white;
          background-color: #171209; }
          .register-bg .register-form-container .btn-reg button:focus:active, .register-bg .register-form-container .btn-reg button:active:active, .register-bg .register-form-container .btn-reg button:hover:active {
            background: transparent;
            outline: none;
            border: solid 1px white;
            background-color: #171209; }
            .register-bg .register-form-container .btn-reg button:focus:active:focus, .register-bg .register-form-container .btn-reg button:active:active:focus, .register-bg .register-form-container .btn-reg button:hover:active:focus {
              outline: none; }
        @media (min-width: 320px) and (max-width: 767px) {
          .register-bg .register-form-container .btn-reg button {
            width: 100%;
            float: none;
            font-size: 13px;
            letter-spacing: 3px; } }
        @media (min-width: 768px) and (max-width: 1023px) {
          .register-bg .register-form-container .btn-reg button {
            font-size: 12px;
            width: 20%; } }
    .register-bg .register-form-container .warning-tac {
      margin-top: 10px;
      display: inline-block;
      width: 100%;
      font-family: "Montserrat-Regular"; }
      .register-bg .register-form-container .warning-tac h6 {
        float: right;
        margin-right: 50px; }
        .register-bg .register-form-container .warning-tac h6 a {
          color: #fff; }
          .register-bg .register-form-container .warning-tac h6 a:hover, .register-bg .register-form-container .warning-tac h6 a:focus {
            text-decoration-line: none; }
        @media (min-width: 320px) and (max-width: 767px) {
          .register-bg .register-form-container .warning-tac h6 {
            width: 100%;
            margin-right: 0; } }
        @media (min-width: 768px) and (max-width: 1023px) {
          .register-bg .register-form-container .warning-tac h6 {
            width: 70%;
            margin-left: 50px;
            margin-right: 20px; } }
    .register-bg .register-form-container .form-footer {
      text-align: center;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      font-family: "Montserrat-Regular";
      letter-spacing: .5px;
      padding-top: 10px;
      font-weight: 500; }
      .register-bg .register-form-container .form-footer a {
        color: #fff; }
        .register-bg .register-form-container .form-footer a:hover, .register-bg .register-form-container .form-footer a:focus {
          border: none;
          outline: none;
          text-decoration-line: none; }
      @media (min-width: 320px) and (max-width: 767px) {
        .register-bg .register-form-container .form-footer {
          font-size: 12px; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .register-bg .register-form-container .form-footer {
          font-size: 13px; } }
    @media (min-width: 320px) and (max-width: 767px) {
      .register-bg .register-form-container {
        margin: 30px auto;
        padding: 25px 20px; } }

.terms-bg {
  border: none;
  border-radius: 0;
  /*    margin-top: 50px; */
  width: 100%;
  min-height: 230vh;
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.5)), url(/static/images/terms-bg.jpg);
  background-position: center;
  background-size: cover; }
  .terms-bg .terms-container {
    padding: 10px 15px 35px;
    margin: 60px auto;
    width: 80%;
    min-height: 100%;
    background-color: rgba(41, 32, 16, 0.5);
    color: #fff;
    line-height: 1.5;
    border: 1px solid rgba(255, 255, 255, 0.4); }
    .terms-bg .terms-container .eula-title {
      font-family: "Montserrat-Regular";
      letter-spacing: 3px;
      font-size: 25px;
      text-align: center; }
      @media (min-width: 320px) and (max-width: 767px) {
        .terms-bg .terms-container .eula-title {
          font-size: 12px; } }
    .terms-bg .terms-container .date-modified {
      font-style: italic;
      text-align: center;
      color: rgba(255, 255, 255, 0.7);
      font-family: "Montserrat-Regular"; }
      @media (min-width: 320px) and (max-width: 767px) {
        .terms-bg .terms-container .date-modified {
          font-size: 10px; } }
    .terms-bg .terms-container .phrase-one {
      margin-top: 10px;
      width: 87%;
      font-size: 15px;
      margin: 0 auto;
      text-align: center;
      font-family: "Montserrat-Regular"; }
      @media (min-width: 320px) and (max-width: 767px) {
        .terms-bg .terms-container .phrase-one {
          font-size: 12px; } }
    .terms-bg .terms-container .phrase-two {
      padding-top: 40px;
      padding-bottom: 15px;
      width: 90%;
      font-size: 15px;
      margin: 0 auto;
      text-align: center;
      font-family: "Montserrat-Regular"; }
      @media (min-width: 320px) and (max-width: 767px) {
        .terms-bg .terms-container .phrase-two {
          font-size: 11px; } }
    .terms-bg .terms-container .phrase {
      padding-top: 20px;
      width: 90%;
      font-size: 15px;
      margin: 0 auto;
      line-height: 1.5;
      font-family: "Montserrat-Regular"; }
      @media (min-width: 320px) and (max-width: 767px) {
        .terms-bg .terms-container .phrase {
          font-size: 11px; } }
    .terms-bg .terms-container .letters {
      padding-top: 20px;
      padding-left: 30px;
      width: 90%;
      font-size: 12px;
      margin: 0 auto;
      line-height: 1.5;
      font-family: "Montserrat-Regular"; }
      @media (min-width: 320px) and (max-width: 767px) {
        .terms-bg .terms-container .letters {
          font-size: 10.5px; } }
    .terms-bg .terms-container .sub-letters {
      padding-left: 50px;
      width: 80%;
      font-size: 10px;
      margin: 0 auto;
      line-height: 1.5;
      font-family: "Montserrat-Regular"; }
    .terms-bg .terms-container .description {
      padding: 15px 25px 0; }
    .terms-bg .terms-container .btn-eula {
      margin: 10px 0;
      background-color: rgba(41, 32, 16, 0.7);
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      float: right;
      font-family: "Montserrat-Regular";
      text-transform: uppercase;
      margin: 10px 0;
      background-color: rgba(41, 32, 16, 0.7);
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      float: right;
      font-family: "Montserrat-Regular";
      text-transform: uppercase; }
      .terms-bg .terms-container .btn-eula a {
        color: #fff; }
        .terms-bg .terms-container .btn-eula a:hover, .terms-bg .terms-container .btn-eula a:focus {
          background-color: rgba(41, 32, 16, 0.5);
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px;
          outline: none;
          border: 1px solid #eee; }
          .terms-bg .terms-container .btn-eula a:hover:acitve, .terms-bg .terms-container .btn-eula a:focus:acitve {
            background-color: rgba(41, 32, 16, 0.8);
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            outline: none;
            border: 1px solid #eee; }
      .terms-bg .terms-container .btn-eula:focus {
        outline: none; }
      .terms-bg .terms-container .btn-eula a[aria-expanded=true] {
        color: #fff;
        background: transparent;
        border: transparent; }
        .terms-bg .terms-container .btn-eula a[aria-expanded=true]:hover, .terms-bg .terms-container .btn-eula a[aria-expanded=true]:focus {
          background-color: rgba(41, 32, 16, 0.5);
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px;
          outline: none;
          border: 1px solid #eee; }
          .terms-bg .terms-container .btn-eula a[aria-expanded=true]:hover:acitve, .terms-bg .terms-container .btn-eula a[aria-expanded=true]:focus:acitve {
            background-color: rgba(41, 32, 16, 0.8);
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            outline: none;
            border: 1px solid #eee; }
      .terms-bg .terms-container .btn-eula a[aria-expanded=false] {
        color: #fff; }
        .terms-bg .terms-container .btn-eula a[aria-expanded=false]:hover, .terms-bg .terms-container .btn-eula a[aria-expanded=false]:focus {
          background-color: rgba(41, 32, 16, 0.5);
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px;
          outline: none;
          border: 1px solid #eee; }
          .terms-bg .terms-container .btn-eula a[aria-expanded=false]:hover:acitve, .terms-bg .terms-container .btn-eula a[aria-expanded=false]:focus:acitve {
            background-color: rgba(41, 32, 16, 0.8);
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            outline: none;
            border: 1px solid #eee; }
      .terms-bg .terms-container .btn-eula:focus {
        outline: none; }
      @media (min-width: 320px) and (max-width: 767px) {
        .terms-bg .terms-container .btn-eula {
          font-size: 11px; } }
    .terms-bg .terms-container .btn-privacy {
      margin: 10px 0;
      background-color: rgba(41, 32, 16, 0.7);
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      float: right;
      font-family: "Montserrat-Regular";
      text-transform: uppercase;
      margin: 10px 0;
      background-color: rgba(41, 32, 16, 0.7);
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      float: right;
      font-family: "Montserrat-Regular";
      text-transform: uppercase; }
      .terms-bg .terms-container .btn-privacy a {
        color: #fff; }
        .terms-bg .terms-container .btn-privacy a:hover, .terms-bg .terms-container .btn-privacy a:focus {
          background-color: rgba(41, 32, 16, 0.5);
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
          outline: none;
          border: 1px solid #eee; }
          .terms-bg .terms-container .btn-privacy a:hover:acitve, .terms-bg .terms-container .btn-privacy a:focus:acitve {
            background-color: rgba(41, 32, 16, 0.8);
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            outline: none;
            border: 1px solid #eee; }
      .terms-bg .terms-container .btn-privacy:focus {
        outline: none; }
      .terms-bg .terms-container .btn-privacy a[aria-expanded=true] {
        color: #fff;
        background: transparent;
        border: transparent; }
        .terms-bg .terms-container .btn-privacy a[aria-expanded=true]:hover, .terms-bg .terms-container .btn-privacy a[aria-expanded=true]:focus {
          background-color: rgba(41, 32, 16, 0.5);
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
          outline: none;
          border: 1px solid #eee; }
          .terms-bg .terms-container .btn-privacy a[aria-expanded=true]:hover:acitve, .terms-bg .terms-container .btn-privacy a[aria-expanded=true]:focus:acitve {
            background-color: rgba(41, 32, 16, 0.8);
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            outline: none;
            border: 1px solid #eee; }
      .terms-bg .terms-container .btn-privacy a[aria-expanded=false] {
        color: #fff; }
        .terms-bg .terms-container .btn-privacy a[aria-expanded=false]:hover, .terms-bg .terms-container .btn-privacy a[aria-expanded=false]:focus {
          background-color: rgba(41, 32, 16, 0.5);
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px;
          outline: none;
          border: 1px solid #eee; }
          .terms-bg .terms-container .btn-privacy a[aria-expanded=false]:hover:acitve, .terms-bg .terms-container .btn-privacy a[aria-expanded=false]:focus:acitve {
            background-color: rgba(41, 32, 16, 0.8);
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            outline: none;
            border: 1px solid #eee; }
      .terms-bg .terms-container .btn-privacy:focus {
        outline: none; }
      @media (min-width: 320px) and (max-width: 767px) {
        .terms-bg .terms-container .btn-privacy {
          font-size: 11px; } }
    .terms-bg .terms-container .terms-button {
      padding: 30px; }
      .terms-bg .terms-container .terms-button .btn-group {
        float: right; }
        .terms-bg .terms-container .terms-button .btn-group a button {
          padding: 8px;
          border-radius: 10px;
          font-family: "Montserrat-Regular";
          font-size: 15px;
          color: rgba(255, 255, 255, 0.6);
          background-color: rgba(41, 32, 16, 0.8);
          border: 1px solid rgba(41, 32, 16, 0.8); }
@inlude mobile {
  .terms-bg .terms-container .terms-button .btn-group a button {
    float: left;
    font-size: 8px; } }
          .terms-bg .terms-container .terms-button .btn-group a button:focus {
            outline: none; }
        .terms-bg .terms-container .terms-button .btn-group a:active, .terms-bg .terms-container .terms-button .btn-group a:focus {
          outline: none; }
          .terms-bg .terms-container .terms-button .btn-group a:active:hover, .terms-bg .terms-container .terms-button .btn-group a:focus:hover {
            borde-bottom: none; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .terms-bg {
      min-height: 270vh; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .terms-bg {
      min-height: 390vh; } }

.verify-bg {
  border: none;
  border-radius: 0;
  /*    margin-top: 50px; */
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.5)), url(/static/images/verify-bg.jpg);
  background-position: center;
  background-size: cover; }
  .verify-bg div {
    margin-top: 280px;
    background-color: rgba(41, 32, 16, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 50%;
    padding: 20px; }
    .verify-bg div h1 {
      text-align: center;
      color: #fff;
      font-family: "Montserrat-Regular";
      letter-spacing: 3px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      padding-bottom: 10px; }
      @media (min-width: 320px) and (max-width: 767px) {
        .verify-bg div h1 {
          font-size: 20px; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .verify-bg div h1 {
          font-size: 25px; } }
    .verify-bg div h5 {
      text-align: center;
      color: #fff;
      font-family: "Montserrat-Regular";
      letter-spacing: 3px; }
      @media (min-width: 320px) and (max-width: 767px) {
        .verify-bg div h5 {
          font-size: 12px; } }
    @media (min-width: 320px) and (max-width: 767px) {
      .verify-bg div {
        margin-top: 70%;
        padding: 0 10px; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .verify-bg div {
        margin-top: 30%; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .verify-bg {
      min-heigt: 100vh; } }

.home-bg {
  border: none;
  border-radius: 0;
  /*    margin-top: 50px; */
  width: 100%;
  min-height: 980px;
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.5)), url(/static/images/home-bg.jpg);
  background-position: center;
  background-size: cover; }

.home-container {
  min-height: 820px;
  max-height: 1000px;
  margin: 80px auto;
  background-color: rgba(41, 32, 16, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.4); }
  .home-container .search-bar {
    display: inline-table;
    margin-top: 20px;
    margin-right: 20px;
    width: 300px;
    float: right; }
    @media (min-width: 320px) and (max-width: 767px) {
      .home-container .search-bar {
        margin: 10px 0;
        width: 0; } }
    .home-container .search-bar input {
      background-color: transparent;
      border: none;
      box-shadow: none;
      color: #fff;
      transition: 0.2s;
      border-bottom: solid 1px transparent; }
      .home-container .search-bar input:focus, .home-container .search-bar input:active {
        color: #fff;
        box-shadow: none;
        border-radius: 0;
        border-bottom: solid 1px rgba(255, 255, 255, 0.5) !important;
        transition: 0.2s; }
        .home-container .search-bar input:focus:focus, .home-container .search-bar input:active:focus {
          border-bottom: solid 1px rgba(255, 255, 255, 0.5); }
    .home-container .search-bar .btn {
      background-color: transparent;
      border: transparent;
      color: rgba(255, 255, 255, 0.8); }
      .home-container .search-bar .btn:focus, .home-container .search-bar .btn:active {
        outline: none;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.8);
        transition: 0.2s;
        box-shadow: none; }
        .home-container .search-bar .btn:focus:focus, .home-container .search-bar .btn:active:focus {
          outline: none;
          background-color: transparent;
          color: rgba(255, 255, 255, 0.8);
          transition: 0.2s; }
  .home-container .btn-contribute button {
    margin: 15px 20px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
    color: rgba(255, 255, 255, 0.8);
    background-color: transparent; }
    .home-container .btn-contribute button:focus, .home-container .btn-contribute button:active {
      outline: none;
      color: #fff;
      background-color: rgba(41, 32, 16, 0.8); }
      .home-container .btn-contribute button:focus:active, .home-container .btn-contribute button:active:active {
        outline: none;
        color: #fff;
        background-color: rgba(41, 32, 16, 0.8); }
    @media (min-width: 320px) and (max-width: 767px) {
      .home-container .btn-contribute button {
        width: 90%; } }
  .home-container .btn-contribute:focus, .home-container .btn-contribute:active {
    outline: none;
    color: #fff;
    background-color: transparent; }
    .home-container .btn-contribute:focus:active, .home-container .btn-contribute:active:active {
      outline: none;
      color: #fff;
      background-color: transparent; }
  .home-container .page-design {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 20px; }
  .home-container .pagination {
    float: right;
    margin-right: 50px; }
    .home-container .pagination .active span {
      background-color: rgba(41, 32, 16, 0.8);
      color: #fff;
      border: none; }
    .home-container .pagination .disabled span {
      background-color: rgba(41, 32, 16, 0.8);
      color: #fff;
      border: none; }
    .home-container .pagination li a {
      background-color: transparent;
      color: #fff;
      border: none; }

.navbar {
  background-color: rgba(41, 32, 16, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0; }
  .navbar .collapse ul li .dropdown .open {
    background-color: transparent; }
  .navbar .collapse ul li a {
    color: #fff;
    font-family: "Montserrat-Regular";
    letter-spacing: 2px; }
    .navbar .collapse ul li a:hover, .navbar .collapse ul li a:focus {
      color: rgba(255, 255, 255, 0.8); }

.contribute-bg {
  border: none;
  border-radius: 0;
  /*    margin-top: 50px; */
  width: 100%;
  min-height: 110vh;
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.5)), url(/static/images/register-bg.jpg);
  background-position: center;
  background-size: cover; }

.contribute-form-container {
  padding: 20px 20px 50px;
  width: 450px;
  min-height: 600px;
  max-height: 1000px;
  margin: 20px auto;
  background-color: rgba(41, 32, 16, 0.5);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.4); }
  .contribute-form-container h3 {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-family: "Montserrat-Regular";
    letter-spacing: 2px;
    text-transform: uppercase; }
  .contribute-form-container input[type=text] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    display: block;
    width: 100%;
    margin-top: 10px;
    border-radius: 0;
    font-family: "Montserrat-Regular"; }
    .contribute-form-container input[type=text]:focus, .contribute-form-container input[type=text]:active {
      background-color: transparent;
      outline: none;
      border-bottom: solid 1px #e0e0e0 !important;
      transition: 0.2s;
      font-family: "Montserrat-Regular"; }
      .contribute-form-container input[type=text]:focus:focus, .contribute-form-container input[type=text]:active:focus {
        outline: none;
        border-bottom: solid 1px #e0e0e0;
        font-family: "Montserrat-Regular"; }
      .contribute-form-container input[type=text]:focus:active, .contribute-form-container input[type=text]:active:active {
        outline: none;
        background-color: transparent; }
  .contribute-form-container .bootstrap-tagsinput {
    background-color: transparent;
    border: none;
    color: white;
    width: 100%; }
    .contribute-form-container .bootstrap-tagsinput .tag {
      background-color: #967d51;
      font-family: "Montserrat-Regular";
      letter-spacing: 2px; }
  .contribute-form-container select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    display: block;
    width: 100%;
    margin-top: 10px;
    border-radius: 0;
    color: #fff;
    font-family: "Montserrat-Regular"; }
    .contribute-form-container select:focus, .contribute-form-container select:active {
      background-color: transparent;
      outline: none;
      color: #292010;
      border-bottom: solid 1px #e0e0e0 !important;
      transition: 0.2s;
      font-family: "Montserrat-Regular"; }
      .contribute-form-container select:focus:focus, .contribute-form-container select:active:focus {
        outline: none;
        color: #fff;
        border-bottom: solid 1px #e0e0e0;
        font-family: "Montserrat-Regular"; }
      .contribute-form-container select:focus:active, .contribute-form-container select:active:active {
        outline: none;
        color: #292010;
        background-color: transparent; }
  .contribute-form-container label {
    margin-top: 15px;
    font-family: "Montserrat-Regular";
    letter-spacing: 1px; }
  .contribute-form-container button {
    background-color: transparent;
    border: solid 1px #fff;
    text-transform: uppercase;
    float: right;
    width: 40%; }
    .contribute-form-container button:focus, .contribute-form-container button:active, .contribute-form-container button:hover {
      background: transparent;
      outline: none;
      border: solid 1px white;
      background-color: #171209; }
      .contribute-form-container button:focus:active, .contribute-form-container button:active:active, .contribute-form-container button:hover:active {
        background: transparent;
        outline: none;
        border: solid 1px white;
        background-color: #171209; }
        .contribute-form-container button:focus:active:focus, .contribute-form-container button:active:active:focus, .contribute-form-container button:hover:active:focus {
          outline: none; }

.profile-bg {
  border: none;
  border-radius: 0;
  /*    margin-top: 50px; */
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.5)), url(/static/images/profile-bg.jpg);
  background-position: center;
  background-size: cover; }

.my-material-container {
  background-color: rgba(41, 32, 16, 0.5);
  margin: 20px auto;
  height: 612px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4); }
  .my-material-container .search-bar {
    display: inline-table;
    margin-top: 20px;
    margin-right: 20px;
    width: 300px;
    float: right; }
    .my-material-container .search-bar input {
      background-color: transparent;
      border: none;
      box-shadow: none;
      color: #fff;
      transition: 0.2s;
      border-bottom: solid 1px transparent; }
      .my-material-container .search-bar input:focus, .my-material-container .search-bar input:active {
        color: #fff;
        box-shadow: none;
        border-radius: 0;
        border-bottom: solid 1px rgba(255, 255, 255, 0.5) !important;
        transition: 0.2s; }
        .my-material-container .search-bar input:focus:focus, .my-material-container .search-bar input:active:focus {
          border-bottom: solid 1px rgba(255, 255, 255, 0.5); }
    .my-material-container .search-bar .btn {
      background-color: transparent;
      border: transparent;
      color: rgba(255, 255, 255, 0.8); }
      .my-material-container .search-bar .btn:focus, .my-material-container .search-bar .btn:active {
        outline: none;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.8);
        transition: 0.2s;
        box-shadow: none; }
        .my-material-container .search-bar .btn:focus:focus, .my-material-container .search-bar .btn:active:focus {
          outline: none;
          background-color: transparent;
          color: rgba(255, 255, 255, 0.8);
          transition: 0.2s; }
  .my-material-container .btn-contribute button {
    margin: 15px 20px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
    color: rgba(255, 255, 255, 0.8);
    background-color: transparent; }
    .my-material-container .btn-contribute button:focus, .my-material-container .btn-contribute button:active {
      outline: none;
      color: #fff;
      background-color: rgba(41, 32, 16, 0.8); }
      .my-material-container .btn-contribute button:focus:active, .my-material-container .btn-contribute button:active:active {
        outline: none;
        color: #fff;
        background-color: rgba(41, 32, 16, 0.8); }
  .my-material-container .btn-contribute:focus, .my-material-container .btn-contribute:active {
    outline: none;
    color: #fff;
    background-color: transparent; }
    .my-material-container .btn-contribute:focus:active, .my-material-container .btn-contribute:active:active {
      outline: none;
      color: #fff;
      background-color: transparent; }
  .my-material-container .material-cover {
    font-family: "Montserrat-Regular";
    padding: 10px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(41, 32, 16, 0.9);
    margin: 10px 15px;
    width: 50%;
    min-height: 250px;
    border: 1px solid rgba(255, 255, 255, 0.5); }
  .my-material-container .details-container {
    margin: -260px 0px 0 180px; }
    .my-material-container .details-container h5 {
      color: rgba(255, 255, 255, 0.8);
      font-family: "Montserrat-Regular"; }
  .my-material-container .page-design {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 20px; }
  .my-material-container .pagination {
    float: right;
    margin-right: 50px; }
    .my-material-container .pagination .active span {
      background-color: rgba(41, 32, 16, 0.8);
      color: #fff;
      border: none; }
    .my-material-container .pagination .disabled span {
      background-color: rgba(41, 32, 16, 0.8);
      color: #fff;
      border: none; }
    .my-material-container .pagination li a {
      background-color: transparent;
      color: #fff;
      border: none; }

.edit-contribution-bg {
  border: none;
  border-radius: 0;
  /*    margin-top: 50px; */
  width: 100%;
  min-height: 1000px;
  min-height: 678px;
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.5)), url(/static/images/edit-contribute-bg.jpg);
  background-position: center;
  background-size: cover; }
  .edit-contribution-bg textarea {
    background-color: rgba(41, 32, 16, 0.6);
    color: rgba(255, 255, 255, 0.8);
    margin: 0 55px;
    font-family: "Montserrat-Regular"; }
  .edit-contribution-bg .original_text {
    color: #fff;
    font-family: "Montserrat-Light";
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    margin: 90px 50px 20px 250px; }
  .edit-contribution-bg .translated_text {
    color: #fff;
    font-family: "Montserrat-Light";
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    margin: 90px 50px 20px 440px; }
  .edit-contribution-bg input[type=submit] {
    font-family: "Montserrat-Regular";
    font-size: 15px;
    text-transform: uppercase;
    background-color: rgba(41, 32, 16, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    float: right;
    width: 120px;
    margin: 40px 90px; }
    .edit-contribution-bg input[type=submit]:active, .edit-contribution-bg input[type=submit]:focus {
      outline: none;
      background-color: rgba(41, 32, 16, 0.8);
      color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(255, 255, 255, 0.8); }

.result-bg {
  border: none;
  border-radius: 0;
  /*    margin-top: 50px; */
  width: 100%;
  min-height: 1000px;
  min-height: 678px;
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(2, 2, 2, 0.5)), url(/static/images/result-bg.jpg);
  background-position: center;
  background-size: cover; }

.result-pdf {
  border: none;
  margin: 35px 0; }

.detail-btn {
  margin: 50px 140px; }
  .detail-btn button {
    background-color: rgba(41, 32, 16, 0.5);
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    padding: 5px;
    width: 150px; }
    .detail-btn button:focus {
      outline: none;
      background-color: rgba(41, 32, 16, 0.8); }
  .detail-btn a:focus {
    outline: none; }

.pdf-description {
  background-color: rgba(41, 32, 16, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 10px;
  padding: 20px;
  min-height: 450px; }
  .pdf-description h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
    font-family: "Montserrat-Regular";
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 10px; }
    .pdf-description h2 button {
      float: right;
      font-family: "Montserrat-Regular";
      font-size: 15px;
      background-color: rgba(41, 32, 16, 0.5);
      color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 30px;
      padding: 5px;
      width: 150px; }
      .pdf-description h2 button:focus {
        outline: none;
        background-color: rgba(41, 32, 16, 0.8); }
    .pdf-description h2 a:focus {
      outline: none; }
  .pdf-description h5 {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Montserrat-Regular";
    margin: 20px 40px;
    font-size: 20px; }
  .pdf-description button {
    background-color: rgba(41, 32, 16, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    margin: 5px 5px;
    padding: 5px 8px; }
    .pdf-description button:active, .pdf-description button:focus {
      outline: none; }

.material-cover {
  font-family: "Montserrat-Regular";
  padding: 10px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(41, 32, 16, 0.9);
  margin: 10px 15px;
  width: 50%;
  min-height: 270px;
  border: 1px solid rgba(255, 255, 255, 0.5); }

.details-container {
  margin: -270px 0px 0 200px; }
  .details-container h5 {
    color: rgba(255, 255, 255, 0.8);
    font-family: "Montserrat-Regular"; }
  .details-container .btn-view:focus, .details-container .btn-view:active {
    outline: none; }
  .details-container .btn-view button {
    background-color: rgba(41, 32, 16, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    padding: 5px 10px;
    width: 70px;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.8); }
    .details-container .btn-view button:focus, .details-container .btn-view button:active {
      outline: none;
      background-color: rgba(41, 32, 16, 0.9); }

.user-details {
  background-color: rgba(41, 32, 16, 0.8);
  width: 100%;
  height: 612px;
  margin: 20px 0px 0 -10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 15px;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Montserrat-Regular";
  letter-spacing: 2px; }
  .user-details h3 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 10px; }
  .user-details h5 {
    margin-top: 30px; }
  .user-details button {
    background-color: rgba(41, 32, 16, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding: 5px 10px;
    margin-top: 300px;
    color: rgba(255, 255, 255, 0.9);
    float: right; }
    .user-details button:active, .user-details button:focus {
      outline: none; }
    .user-details button a {
      color: rgba(255, 255, 255, 0.9); }
      .user-details button a:active, .user-details button a:focus {
        outline: none; }

/*overriders*/
.row {
  margin: 0; }

.nav-tabs {
  border: none; }

.navbar-default .navbar-brand {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-family: "Montserrat-Regular";
  letter-spacing: 5px; }
.navbar-default .navbar-nav .open a {
  color: #fff;
  background-color: transparent; }
  .navbar-default .navbar-nav .open a:focus, .navbar-default .navbar-nav .open a:hover {
    color: #fff;
    background-color: transparent; }
.navbar-default .navbar-nav li .dropdown-menu {
  background-color: rgba(41, 32, 16, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.5); }

/*# sourceMappingURL=styles.css.map */
